.container
    max-width: 940px
    margin: 0 auto

    &--header
        display: flex
        flex-direction: row
        justify-content: space-between

.posts
    display: flex
    flex-direction: row
    justify-content: space-between

    &__container
        max-width: 670px

.post
    &__preview
        display: flex
        flex-direction: row
        justify-content: space-between
