<header>
    <div class="container container--header">
        <a href="/" class="logo">jet<span class="logo--end">ro</span></a>
        <nav class="nav"> 
            <ul class="nav__list">
                {% import "data/nav.html" as nav %}

                {% for items in nav.links %}
                <li class="nav__item nav__item--isactive">
                    <a href="#" class="nav__link">{{items.title}}</a>
                </li>
                {% endfor %}
                
            </ul>
        </nav>
    </div>
</header>
