{% import "data/post-info.html" as data %} {% for items in data.info %}

<div class="post__info">

    {% if items.date %}
        <h4 class="post__head">date</h4>
        <p class="post__data">{{items.date}}</p>
    {% endif %}
    {% if items.tag1 and items.tag2 %}
        <h4 class="post__head">tags</h4>
        <p class="post__data">
            <a href="#" class="post__url">{{items.tag1}}</a>
            <a href="#" class="post__url">{{items.tag2}}</a>
        </p>
    {% endif %}
    {% if items.comments %}
        <h4 class="post__head">comments</h4>
        <a href="#" class="post__data">{{items.comments}}</a>
    {% endif %}

</div>
{% endfor %}