{% set
images = [
    {
        img: 'img/galary-1.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-2.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-3.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-4.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-5.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-6.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-7.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    },
    {
        img: 'img/galary-8.jpg',
        alt: 'travel image',
        caption: 'Image caption'
    }
]
%}