{% set
data = [
    {
        img: 'img/hero.jpg',
        date: 'April 15, 2012',
        tag1: 'Website',
        tag2: 'Design',
        comments: '4',
        title: 'top wordpress themes of 2012',
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, sit quo. Dolore nemo doloribus doloremque maxime et aperiam saepe sint magnam est unde vel, voluptate non deserunt. Placeat, excepturi sed?Voluptas in autem unde ipsum sequi tenetur molestias praesentium ex rem? Harum explicabo ad aperiam aliquam iste aliquid eos consequatur vero, repellat earum, cumque maiores tenetur ab itaque, optio distinctio.'
    },
    {
        img: 'img/post_1.jpg',
        date: 'April 15, 2012',
        tag1: 'Website',
        tag2: 'Design',
        comments: '4',
        title: 'jesue typography wallpaper giveaway!',
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, sit quo. Dolore nemo doloribus doloremque maxime et aperiam saepe sint magnam est unde vel, voluptate non deserunt. Placeat, excepturi sed?Voluptas in autem unde ipsum sequi tenetur molestias praesentium ex rem? Harum explicabo ad aperiam aliquam iste aliquid eos consequatur vero, repellat earum, cumque maiores tenetur ab itaque, optio distinctio.'
    },
    {
        img: 'img/video.jpg',
        date: 'April 15, 2012',
        tag1: 'Website',
        tag2: 'Design',
        comments: '4',
        title: 'big buck bunny trailer',
        text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, sit quo. Dolore nemo doloribus doloremque maxime et aperiam saepe sint magnam est unde vel, voluptate non deserunt. Placeat, excepturi sed?Voluptas in autem unde ipsum sequi tenetur molestias praesentium ex rem? Harum explicabo ad aperiam aliquam iste aliquid eos consequatur vero, repellat earum, cumque maiores tenetur ab itaque, optio distinctio.'
    }
]
%}