<main>
    <div class="container">
        <h2 class="title">blog</h2>
        <div class="posts">
            <div class="posts__container">

                {% import "data/post_media.html" as post %}

                {% for items in post.data %}
                <section class="post">
                    <img src="{{items.img}}" alt="post image" class="post__img">
                    <div class="post__preview"> 
                        <div class="post__data__info">
                            <div>
                                <h4 class="post__data__title">date</h4>
                                <p class="post__data__text">{{items.date}}</p>
                            </div>
                            <div>
                                <h4 class="post__data__title">Tags</h4>
                                <p class="post__data__text">
                                    <a href="#" class="post__data__link">{{items.tag1}}</a>
                                    <a href="#" class="post__data__link">{{items.tag2}}</a>
                                </p>
                            </div>
                            <div>
                                <h4 class="post__data__title">comments</h4>
                                <a href="#" class="post__data__text">{{items.comments}}</a>
                            </div>
                        </div>
                        <div class="post__content">
                            <h3 class="post__content__title">{{items.title}}</h3>
                            <div class="post__content__text">
                                <p>
                                    {{items.text1}}
                                </p>
                                <p>
                                    {{items.text2}}
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                {% endfor %}

                <section class="post post__simple">
                    <p class="post__simple__text">
                        Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totaly up to you.
                    </p>
                </section>

                <section class="post post__simple">
                    <h3 class="post__content__title">some of the best freebies on the web</h3>
                    <a href="#" class="post__content__link">www.bestpsdfreebies.com</a>
                    <div class="post__content__text">
                        <p>
                            Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
                        </p>
                    </div>
                </section>
                <div class="pagination">
                    <a href="#" class="pagination__item pagination__item--isactive">1</a>
                    <a href="#" class="pagination__item">2</a>
                    <a href="#" class="pagination__item">3</a>
                </div>
            </div>
            {% include "partials/blocks/aside.html" %}
        </div>
    </div>
</main>


